


.flex-container-small {
  display: none
}

body {
  background-color: black;
}


.flex-container-big {
  display: flex;
  margin-right: -0.87vw;
  margin-left: -1vw;
  height: 36vw;
  background-color: red;
}

.flex-container-big>div {
  height: 10vw;
  margin: 1.5vw;
  width: 30vw;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}



.upper {
  margin: 0.5vw;
  color: black;
  line-height: 4vw;
  text-align: center;
  font-family: 'Climate Crisis';
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: color-animation 2s linear infinite;
}

.extra {
  margin: 0vw;
  color: black;
  line-height: 2vw;
  text-align: center;
  font-family: 'Special Elite';
  font-size: 1.3vw;
  letter-spacing: 1.2px;
  
}

.upper-color{
  --color-1: black;
  --color-2: white;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}

  52%   {color: var(--color-1)}
  53%   {color: var(--color-2)}

  99%   {color: var(--color-2)}
  100%  {color: var(--color-1)}
}

.thedevil {
  display: flex;
  flex-direction: column;
  margin-top: -5vw;
  justify-content: center;
}
.flash{
  animation: 1s anim-flash 2;
  animation-delay: 1.7s;
}
.pop1{
  animation: 1s anim-pop ;
  
}

.pop2{
  animation: 2s anim-pop ease-out ;
  
 
}
@keyframes anim-pop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
   
  }
}
@keyframes anim-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
   
  }
}

.happyhalloween {
  
  margin-top: -5vw;
  
}

.text{

  overflow: hidden;
  position: absolute;
  width: 100.7vw;
  margin-left: -0.7vw;
  margin-top: 5vw;
  height: 88.5vw;
}
.flowtext{
     display: flex;
      width: 300vw;
    height: 30vw;
}
.flowtext > div{
 
  justify-content: center;
 
  flex-wrap: wrap;
  animation: move-left-to-right linear 30s infinite;
}

@keyframes move-left-to-right {
  from {
      transform: translateX(-200%);
  }
  to {
      transform: translateX(0);
  }
}


.happy {
  margin-top: 1vw;
  z-index: 6;
  margin-left: 5vw;
  position: relative;
  color: rgba(0, 0, 0, 0);
  font-size: 12.1vw;
}

.halloween {
  z-index: 6;
  margin-left: 5vw;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: -9vw;
  -webkit-text-stroke: 3px white;
  font-family: 'Climate Crisis';
  font-weight: 100;
  font-size: 10vw;
}

h2 {
  text-align: center;
  font-family: 'Climate Crisis';
  font-weight: 100;
  color: white;
  font-size: 6.95vw;
}

.seeya {
  text-align: center;
  color:white;
  font-family: 'Special Elite';
  font-weight: 100;
  margin-top: 0.2vw;
  margin-bottom: 5vw;
  font-size: 1.5vw;
}

.wrap {
  display: flex;
  justify-content: center;
}

.vmag {
  color: white;
  font-family: 'Special Elite';
  transform: rotate(-90deg);
  width: 20vw;
  position: absolute;
  text-align: center;
  list-style: none;
  font-size: 1vw;
  align-items: center;
  letter-spacing: 3px;
  margin-top: 20vw;
  margin-left: 1vw
}

.nov {
  list-style: none;
  line-height: 4vw;
  color: white;
  font-family: 'Special Elite';
  transform: rotate(90deg);
  width: 20vw;
  font-size: 1vw;
  position: absolute;
  text-align: center;
  margin-left: 77.8vw;
  margin-top: 20vw;
  letter-spacing: 3px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  padding-left: 1vw;
  margin-top: -2vw;
  margin-left: -1vw;
  margin-bottom: -10vw;
  padding: 0.5vw;
  width: 100vw;
  background-color: white;
  text-align:left;
  z-index:10
  ;
}
.footer a{
  font-family: 'Climate Crisis';
  color: black;
  font-size: 2vw;
  text-decoration: none;
  margin-left: 1vw;
  
  
}

/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
  width: 101vw;
  position: relative;
  background: white;
  z-index: 6;
  margin-top: -1vw;
  margin-left: -1vw;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
  display: flex;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: black;
  font-family: 'Climate Crisis';
  text-decoration: none;
  font-size: 2vw;
  text-align: center;
  z-index: 6;
}

#hamitems a:hover {
  background: black;
  color: white;
  z-index: 2;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger,
#versions {
  display: none;
  z-index: 2;
}



/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

  /* (A) BREAK INTO VERTICAL MENU */
  #hamnav {

    margin-top:-2vw;
    margin-left: -2vw;
    

  }
  

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 4vw;
    border-top: 1px solid black;
    background-color: white;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: black;
    background: white;
    font-style: normal;
    font-size: 7vw;
    padding: 1.4vw;
  }

 
  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }

  #hamnav input:checked~#hamitems {
    display: block;
  }

  .flex-container-big {
    display: none
  }

  h1 {
    -webkit-text-stroke: 1.2px white;

  }

  .vmag {


    font-size: 1.5vw;

    margin-top: 20vw;
    margin-left: -0.5vw
  }

  .nov {


    font-size: 1.5vw;
    margin-left: 77.8vw;
    margin-top: 20vw;

  }


  .flex-container-small {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.87vw;
    margin-left: -1vw;
    margin-bottom: 2vw;
    height: 110vw;
    background-color: red;
    justify-content: center;
    align-items: stretch;

  }

  .flex-container-small>div {

    height: 10vw;
    padding: 4vw;
    width: 40vw;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }

  .upper {

    margin-bottom: 2vw;
    font-size: 4vw;

  }

  .extra {
    font-size: 3vw;
    line-height: 3.5vw;

  }
  .text{
    width: 100vw;
    height: 90vw;
  }

  .footer {

    padding-left: 1vw;
    margin-top: -2vw;
    margin-left: -1vw;
    margin-bottom: -10vw;
    padding: 0.5vw;
    width: 100vw;

    z-index:10
    ;
  }
  .footer a{
    font-family: 'Climate Crisis';
    color: black;
    font-size: 3.2vw;
    text-decoration: none;
    margin-left: 1vw;
    
    
  }

}