


.flex-container-small {
  display: none
}

body {
  background-color: black;
}


.flex-container-big {
  display: flex;
  margin-right: -0.87vw;
  margin-left: -1vw;
  height: 36vw;
  background-color: red;
}

.flex-container-big>div {
  height: 10vw;
  margin: 1.5vw;
  width: 30vw;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}



.upper {
  color: black;
  list-style: none;
  line-height: 4vw;
  text-align: center;
  font-family: 'Climate Crisis';
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.extra {
  color: black;
  list-style: none;
  line-height: 2vw;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  letter-spacing: 1.5px;
}


.thedevil {
  display: flex;
  flex-direction: column;
  margin-top: -5vw;
  justify-content: center;
}

.happyhalloween {
  display: flex;
  margin-top: -5vw;
  justify-content: center;
}

.happy {
  z-index: 6;
  margin-left: 5vw;
  margin-top: 20vw;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  font-size: 12.1vw;
}

.halloween {
  z-index: 6;
  margin-top: 32vw;
  margin-left: 5vw;
  position: absolute;
}

h1 {
  text-align: center;
  margin-bottom: -9vw;
  -webkit-text-stroke: 3px white;
  font-family: 'Climate Crisis';
  font-weight: 100;
  font-size: 10vw;
}

h2 {
  text-align: center;
  font-family: 'Climate Crisis';
  font-weight: 100;
  color: white;
  font-size: 6.95vw;
}

.wrap {
  display: flex;
  justify-content: center;
}

.vmag {
  color: white;
  font-family: 'Poppins', sans-serif;
  transform: rotate(-90deg);
  width: 20vw;
  position: absolute;
  text-align: center;
  list-style: none;
  font-size: 1vw;
  align-items: center;
  letter-spacing: 3px;
  margin-top: 20vw;
  margin-left: 1vw
}

.nov {
  list-style: none;
  line-height: 4vw;
  color: white;
  font-family: 'Poppins', sans-serif;
  transform: rotate(90deg);
  width: 20vw;
  font-size: 1vw;
  position: absolute;
  text-align: center;
  margin-left: 77.8vw;
  margin-top: 20vw;
  letter-spacing: 3px;
}

/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
  width: 101vw;
  position: relative;
  background: white;
  z-index: 6;
  margin-top: -1vw;
  margin-left: -1vw;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
  display: flex;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: black;
  font-family: 'Climate Crisis';
  text-decoration: none;
  font-size: 2vw;
  text-align: center;
  z-index: 6;
}

#hamitems a:hover {
  background: black;
  color: white;
  z-index: 2;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger,
#versions {
  display: none;
  z-index: 2;
}



/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

  /* (A) BREAK INTO VERTICAL MENU */
  #hamnav {

    margin-top:-2vw;
    margin-left: -2vw;
    

  }
  

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 4vw;
    border-top: 1px solid black;
    background-color: white;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: black;
    background: white;
    font-style: normal;
    font-size: 7vw;
    padding: 1.4vw;
  }

 
  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }

  #hamnav input:checked~#hamitems {
    display: block;
  }

  .flex-container-big {
    display: none
  }

  h1 {
    -webkit-text-stroke: 1.2px white;

  }

  .vmag {


    font-size: 1.5vw;

    margin-top: 20vw;
    margin-left: -0.5vw
  }

  .nov {


    font-size: 1.5vw;
    margin-left: 77.8vw;
    margin-top: 20vw;

  }


  .flex-container-small {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.87vw;
    margin-left: -1vw;
    margin-bottom: 2vw;
    height: 110vw;
    background-color: red;
    justify-content: center;
    align-items: stretch;

  }

  .flex-container-small>div {

    height: 10vw;
    padding: 4vw;
    width: 40vw;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }

  .upper {

    margin-bottom: 2vw;
    font-size: 4vw;

  }

  .extra {
    font-size: 3vw;
    line-height: 3.5vw;

  }

}